@import "tailwindcss";
@config "../tailwind.config.js";
@custom-variant dark (&:where(.dark, .dark *));

/* * {
  user-select: none;
} */

/* custom properties for colors, fonts and other theme values */
:root {
  --primary: #387F39;
  --primary-hover: #2f6036;
  --secondary: #F28C28;
  --background-light: #F9F8F0;
  --background-dark: #111827;
  --card-light: #FFFFFF;
  --card-dark: #1F2937;
  --text-light: #2D3748;
  --text-dark: #F3F4F6;
  --surface-dark: #1E1E1E;
  --surface-dark-2: #252525;

  --font-sans: "Poppins", "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
}

/* additional overrides when dark class is applied */
.dark {
  /* if any variables should change for dark mode, put them here */
   /* --background-light: #111827; */
}

body {
  /*font-family: 'Poppins', sans-serif;*/
  font-family: var(--font-sans);
}

.glass-effect {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


